postgres:
   tty: TRUE
   restart: "always"
   image: yadaguru/postgres:1.0
   ports:
     - "5432:5432"

api:
   tty: TRUE
   restart: "always"
   image: yadaguru/api:1.0.0
   ports:
     - "3005:3005"
     - "5858:5858"
   links:
     - postgres:postgres
   environment:
     NODE_ENV: development
     SECRET_SALT: development_super_secret_salt_string
   volumes:
     - ~/yadaguru/yadaguru-api:/usr/src/app

app:
  tty: TRUE
  restart: "always"
  image: yadaguru/app:1.0.0
  ports: 
    - "3000:80"
  volumes: 
    - ~/yadaguru/yadaguru-app/dist:/usr/share/nginx/html

admin:
  tty: TRUE
  restart: "always"
  image: yadaguru/admin:1.0.0
  ports: 
    - "9000:80"
  volumes: 
    - ~/yadaguru/yadaguru-admin/app:/usr/share/nginx/html

sms:
  tty: TRUE
  restart: "no"
  image: yadaguru/sms:1.0
  links:
    - postgres:postgres
  environment:
    MY_BRANCH: master
    NODE_ENV: development
    DATABASE_URL: postgres://yadaguru:yadaguru@postgres/yadaguru
    SECRET_SALT: development_super_secret_salt_string
  volumes:
     - ~/yadaguru/yadaguru-sms:/opt/yadaguru-sms
     - ./entrypoint-sms.sh:/entrypoint.sh
