postgres:
   tty: TRUE
   restart: "always"
   image: yadaguru/postgres:1.0

api:
   tty: TRUE
   restart: "always"
   image: yadaguru/api:1.0
   ports:
     - "3005:3005"
     - "5858:5858"
   links:
     - postgres:postgres
   environment:
     NODE_ENV: development
   volumes:
     - ~/yadaguru/yadaguru-api:/opt/yadaguru-api
     - ./entrypoint.sh:/entrypoint.sh

static:
   tty: TRUE
   restart: "always"
   image: yadaguru/static:1.0
   ports:
     - "3000:3000"
     - "9000:9000"
   volumes:
     - ~/yadaguru/yadaguru-app:/srv/yadaguru/yadaguru-app
     - ~/yadaguru/yadaguru-admin/app:/srv/yadaguru/yadaguru-admin/app
