postgres:
   tty: TRUE
   restart: "always"
   image: yadaguru/postgres:1.0
   ports:
     - "5432:5432"

api:
   tty: TRUE
   restart: "always"
   image: yadaguru/api:1.0
   ports:
     - "3005:3005"
     - "5858:5858"
   links:
     - postgres:postgres
   environment:
     NODE_ENV: development
     SECRET_SALT: development_super_secret_salt_string
   volumes:
     - ~/yadaguru/yadaguru-api:/opt/yadaguru-api
     - ./entrypoint.sh:/entrypoint.sh

static:
   tty: TRUE
   restart: "always"
   image: yadaguru/static:1.9
   ports:
     - "3000:3000"
     - "9000:9000"
   volumes:
     - ~/yadaguru/yadaguru-app:/srv/yadaguru/yadaguru-app
     - ~/yadaguru/yadaguru-admin/app:/srv/yadaguru/yadaguru-admin/app
     - ./entrypoint-static.sh:/entrypoint.sh

sms:
  tty: TRUE
  restart: "no"
  image: yadaguru/sms:1.0
  links:
    - postgres:postgres
  environment:
    MY_BRANCH: master
    NODE_ENV: development
    DATABASE_URL: postgres://yadaguru:yadaguru@postgres/yadaguru
  volumes:
     - ~/yadaguru/yadaguru-sms:/opt/yadaguru-sms
     - ./entrypoint-sms.sh:/entrypoint.sh
