postgres:
   tty: TRUE
   restart: "always"
   image: yadaguru/postgres:1.1
   ports:
     - "25432:5432"
   environment:
     POSTGRES_USER: yadaguru
     POSTGRES_DB: yadaguru
     POSTGRES_PASSWORD: configureOnServer

api:
   tty: TRUE
   restart: "always"
   image: yadaguru/api:1.0
   ports:
     - "23005:3005"
   links:
     - postgres:postgres
   environment:
     MY_BRANCH: master
     NODE_ENV: qam
     SECRET: configureOnServer
     DATABASE_URL: postgres://yadaguru:configureOnServer@postgres/yadaguru
     TWILIO_PHONE_NUMBER: configureOnServer
     TWILIO_ACCOUNT_SID: configureOnServer
     TWILIO_AUTH_TOKEN: configureOnServer
     TEST_NUMBER: configureOnServer

static:
   tty: TRUE
   restart: "always"
   image: yadaguru/static:1.8
   environment:
     MY_BRANCH: master
     NODE_ENV: qam
   ports:
     - "23000:3000"
     - "29000:9000"

sms:
  tty: TRUE
  restart: "no"
  image: yadaguru/sms:1.9
   links:
     - postgres:postgres
   environment:
     MY_BRANCH: master
     NODE_ENV: qam
     DATABASE_URL: postgres://yadaguru:configureOnServer@postgres/yadaguru
     TWILIO_PHONE_NUMBER: configureOnServer
     TWILIO_ACCOUNT_SID: configureOnServer
     TWILIO_AUTH_TOKEN: configureOnServer
     TEST_NUMBER: configureOnServer
    
