postgres:
   tty: TRUE
   restart: "always"
   image: yadaguru/postgres:1.1
   ports:
     - "5432:5432"
   environment:
     POSTGRES_USER: yadaguru
     POSTGRES_DB: yadaguru
     POSTGRES_PASSWORD: configureOnServer

api:
   tty: TRUE
   restart: "always"
   image: yadaguru/api:1.0
   ports:
     - "3005:3005"
     - "5858:5858"
   links:
     - postgres:postgres
   environment:
     MY_BRANCH: master
     NODE_ENV: qa
     SECRET: configureOnServer
     DATABASE_URL: postgres://yadaguru:configureOnServer@localhost/yadaguru

static:
   tty: TRUE
   restart: "always"
   image: yadaguru/static:1.2
   environment:
     MY_BRANCH: master
   ports:
     - "3000:3000"
     - "9000:9000"
