postgres:
   tty: TRUE
   restart: "always"
   image: yadaguru/postgres:1.1
   ports:
     - "5432:5432"
   environment:
     POSTGRES_USER: yadaguru
     POSTGRES_DB: yadaguru
     POSTGRES_PASSWORD: configureOnServer

api:
   tty: TRUE
   restart: "always"
   image: yadaguru/api:1.0.0
   ports:
     - "3005:3005"
     - "5858:5858"
   links:
     - postgres:postgres
   environment:
     NODE_ENV: qa
     SECRET: configureOnServer
     SECRET_SALT: configureOnServer 
     DATABASE_URL: postgres://yadaguru:configureOnServer@postgres/yadaguru

app:
  tty: TRUE
  restart: "always"
  image: yadaguru/app:1.0.0qa
  ports: 
    - "3000:80"

admin:
  tty: TRUE
  restart: "always"
  image: yadaguru/admin:1.0.0qa
  ports: 
    - "9000:80"

sms:
  tty: TRUE
  restart: "no"
  image: yadaguru/sms:1.0.0
  links:
    - postgres:postgres
  environment:
    NODE_ENV: development
    DATABASE_URL: postgres://yadaguru:configureOnServer@postgres/yadaguru
    SECRET_SALT: configureOnServer 
